header {
  background: hsla(248, 32%, 49%, 0.641);
  box-shadow: 0 2px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  max-width: 100%;
  padding:1rem 1.5rem;
}

header .container {
  width: 80%;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30px;
  height: 30px;
  color: white;
}

.nav-item{
  margin: 1rem 0;
}

.nav-item a {
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: white;
  background-color: var(--accent);
  border-radius: 10px;
  border: 2px solid transparent;
  font-weight: 400;
  transition: 0.3s;
}

.nav-item.active a {
  box-shadow: 2px 2px 10px 3px var(--accent);
  background-color: transparent ;
  border: 2px solid var(--bg);
}

.nav-item a:hover {
  color: blue;
  background-color: transparent;
  border: 2px solid var(--bg);
}

.text-main{
  padding-right: 10px;
}

.header-btn-2{
  border-width: 0;
  background-color: transparent;
  color: var(--accent);
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s;
  position: relative;
}

.header-btn-2::after{
  content: '';
  width: 0;
  height: 2px;
  transition: 0.3s;
  bottom: -2px;
  left: 0px;
  background-color: var(--accent);
  position: absolute;
}

.header-btn-2:hover{
  transform: scale(1.1);
}

.header-btn-2:hover::after{
  width: 95px;
}